button { 
  background-color: #b9048c;/*#04cafc;*/
  color: white; 
  padding: 2% ; 
  text-align: center; 
  text-decoration:solid;
  font-size:medium;
  display: inline-block; 
  margin-right: 3% ;
  border-radius: 5px;
} 
a{
 text-decoration: none;
 color: white;
}
h1{
color: white; 
}

mat-card{
border-radius: 5px;
padding: 0;
margin: 10px;
}

mat-card mat-card-footer{
color: white;
background-color: #1c0f44; 
border-radius: 5px;
padding-left: 0;
width: 95%;
display: flex;
position:absolute;
padding: 2px 20px 2px 20px;
margin: 1% 1% 1% 1%;
}

mat-toolbar {
color: white;
background-color: white;
border-radius: 5px;
width: 100%;
display: flexbox;
flex-direction: column;
position: relative;
margin: 0px 2px 0px 2px;
height: 15vh;
}
mat-toolbar mat-toolbar-row{
color: white;
background-color: #1c0f44; 
border-radius: 5px ;
width: 97%;
display: flexbox;
flex-direction: column;
position: relative;
margin: 0px 18px 0px 18px;
padding: 1% 0% 1% 0%;
height: 100vh;

}
.toggle{
display: inline-flex;
position:relative;
justify-content:flex-end;
align-items: right;
}
mat-card mat-slide-toggle{
color: white;
background-color: #1c0f44;
display:flex;
position: relative;
margin: 0;
padding: 0%;

}
.light-theme {
--primary-color: #2196F3;
--accent-color: #FF4081;
--background-color: #FFFFFF;
--text-color: #000000;
}

/* Dark Theme */
.dark-theme {
--primary-color: #673AB7;
--accent-color: #FF9800;
--background-color: #303030;
--text-color: #FFFFFF;
}



